<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Look this awesome Kar</mat-card-title>
    </mat-card-header>

    <mat-card-content>

      <div class="example-full-width" fxLayoutAlign="center center">
        <h3 class="mr-1"> Vehicle: </h3>
        <h2> {{ kar.vehicle }} </h2>
      </div>

      <div class="example-full-width" fxLayoutAlign="center center">
        <h3 class="mr-1"> Brand: </h3>
        <h2> {{ kar.brand }} </h2>
      </div>

      <div class="example-full-width" fxLayoutAlign="center center">
        <h3 class="mr-1"> Year: </h3>
        <h2> {{ kar.year }} </h2>
      </div>

      <div class="example-full-width" fxLayoutAlign="center center">
        <h3 class="mr-1"> Description: </h3>
        <h2> {{ kar.description }} </h2>
      </div>

    </mat-card-content>

  </mat-card>

</div>
